#tab-bar {
    position: relative;
    z-index: 1041; /* higher than .navbar (Bootstrap default is 1030) */
    margin-top: 56px; /* adjust to your header height */

}
#loading-overlay{position:fixed;inset:0;display:none;align-items:center;justify-content:center;-webkit-backdrop-filter:blur(2px);backdrop-filter:blur(2px);z-index:1080}
#loading-overlay.show{display:flex}