{% extends 'accounting/_list_base.html' %}
{% load static %}

{% block title %}Voucher Configuration Details{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Voucher Configuration Details</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Basic Information</h5>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Name</th>
                                    <td>{{ object.name }}</td>
                                </tr>
                                <tr>
                                    <th>Code</th>
                                    <td>{{ object.code }}</td>
                                </tr>
                                <tr>
                                    <th>Prefix</th>
                                    <td>{{ object.prefix }}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>
                                        {% if object.is_active %}
                                            <span class="badge bg-success">Active</span>
                                        {% else %}
                                            <span class="badge bg-danger">Inactive</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h5>Default Settings</h5>
                            <table class="table table-bordered">
                                {% for default in object.vouchermodedefault_set.all %}
                                <tr>
                                    <th>{{ default.field_name }}</th>
                                    <td>{{ default.default_value }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="2" class="text-center">No default settings found.</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'accounting:voucher_config_update' object.pk %}" class="btn btn-primary">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a href="{% url 'accounting:voucher_config_list' %}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}