<div id="tab-bar">
    <ul id="open-tabs" class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                <span class="tab-title">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="tab-title">Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="tab-title">Messages</span>
            </a>
        </li>
    </ul>
</div>