{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Responsive Table{% endblock title %}

{% block extra_css %}
    
<link href="{% static 'libs/admin-resources/rwd-table/rwd-table.min.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Status</th>
                    <th>Current</th>
                    <th>Default</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for fy in fiscal_years %}
                <tr>
                    <td>{{ fy.code }}</td>
                    <td>{{ fy.name }}</td>
                    <td>{{ fy.start_date }}</td>
                    <td>{{ fy.end_date }}</td>
                    <td>{{ fy.status }}</td>
                    <td>{{ fy.is_current }}</td>
                    <td>{{ fy.is_default }}</td>
                    <td>
                        <a href="{% url 'accounting:fiscal_year_update' fiscal_year_id=fy.fiscal_year_id %}"
                            class="btn btn-primary">Edit</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">No fiscal years found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block extra_js %}
<!-- Responsive Table js -->
<script src="{% static 'libs/admin-resources/rwd-table/rwd-table.min.js'%}"></script>

<!-- Init js -->
<script src="{% static 'js/pages/table-responsive.init.js'%}"></script>
{% endblock extra_js %}